<%= mydata.length %> Records Found
<table border="1">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Action</th>
    </tr>

    <% for (var i=0;i<mydata.length;i++){ %>
        <tr>
            <td><%= i+1 %></td>
            <td><%= mydata[i].name %></td>
            <td><%= mydata[i].mobile %></td>
            <td><%= mydata[i].email %></td>
            <td><a href="/show/<%= mydata[i]._id %>">Show</a>&#160|
                <a href="/delete/<%= mydata[i]._id %>" onclick="return confirm('sure you want to delete')">Delete</a>&#160|
                <a href="/edit/<%= mydata[i]._id %>">Edit</a>
            </td>
        </tr>
    <% }%>
</table>